h1 {
  font-family: "Lucida Sans";
  padding: 3%;
  color: rgb(43, 43, 198);
}

button {
  width: 100px;
  height: 40px;
  font-family: "Lucida Sans";
  font-weight: bold;
  background-color: rgb(43, 43, 198);
  color: aliceblue;
  border: none;
  margin-left: 110px;
}
button:hover {
  box-shadow: 3px 3px 2px rgb(136, 152, 255);
  color: rgb(199, 206, 253);
  cursor:pointer;
}
ul li{
 font-family: "Lucida Sans";
 text-align: justify;
 margin-top: 30px;
}
