*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    background-color: rgb(42, 138, 255);
    color: white;
    border: none;
}
button:hover{
     background-color: white;
    color: rgb(42, 138, 255);
    border: 2px solid rgb(42, 138, 255);
}

hr{
    padding: 0;
}
