* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(84, 147, 57);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-color: rgb(68, 118, 46);
  box-shadow: 2px 2px rgb(3, 58, 24);
}
button:hover {
  scale: 105%;
}
h2,
h1 {
  font-size: 35px;
}
h2 {
  background-color: rgb(84, 147, 57);
  color: white;
  text-shadow: 3px 3px rgb(68, 118, 46);
  border-radius: 10px;
  width: 55%;
}
input {
  border-color: rgb(68, 118, 46);
  box-shadow: 2px 2px rgb(3, 58, 24);
  border-radius: 10px;
}
