* {
  font-family: Arial, Helvetica, sans-serif;
  /*border: solid black 1px;*/
}

h1 {
  font-size: 50px;
  width: 400px;
  color: rgb(2, 30, 82);
}
h2 {
  width: 400px;
  color: rgb(2, 30, 82);
}

img {
  display: flex;
  margin-left: 270px;
  margin-top: -145px;
  border-radius: 50%;
}

.contenedor {
  background-image: linear-gradient(
    to bottom,
    rgb(151, 191, 251),
    rgb(68, 132, 250)
  );
  width: 400px;
  padding: 3%;
}

button {
  margin-top: 10%;
  width: 170px;
  height: 50px;
  background-color: rgb(2, 30, 82);
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 18px;
}

button:hover {
  scale: 105%;
}

p {
  font-size: 30px;
  background-color: rgb(68, 132, 250);
  width: 400px;
  padding: 3%;
  color: rgb(2, 30, 82);
}

li {
  font-size: 30px;
  background-color: rgb(68, 132, 250);
  width: 400px;
  padding: 3%;
  padding-bottom: 1%;
  padding-top: 0%;
  color: rgb(2, 30, 82);
}
