* {
  font-family: Verdana;
}

body {
  background: #d9b72e;
  background: linear-gradient(
    90deg,
    rgba(250, 255, 146, 0.869) 0%,
    rgba(185, 255, 65, 0.616) 50%,
    rgb(250, 255, 146, 0.869) 100%
  );
  padding: 3rem;
}
ul{
  padding: 0;
  margin: 0;
}

h1,
label,
h3,
p,
#inputDiv,
#botonDiv {
  display: grid;
  place-items: center;
  color: #1e4100;
  padding-top: 1rem;
}

button {
  width: 10%;
  height: 30px;
  border: none;
  background-color: #305d0d;
  color: white;
}
button:hover {
  background-color: white;
  color: #305d0d;
  border: 1px solid #305d0d;
}

img {
  width: 20%;
}
